In [1]:
import plotly.express as px
import pandas as pd
import json

In [4]:
geo_data=""
with open("../data/raw/countries.geojson", "r") as f:
    geojson=json.load(f)
# geojson = json.load("./countries.geojson")
ds = pd.read_csv('../data/raw/share-of-individuals-using-the-internet.csv')

In [5]:
ds.sample(12)

,Entity,Code,Year,Individuals using the Internet (% of population)
6048,South Korea,KOR,1993,0.249947
2913,IDA & IBRD total,NaN,2011,23.404839
3718,Liberia,LBR,1997,0.004489
1173,Chad,TCD,2010,1.700000
2953,IDA only,NaN,1997,0.014040
1490,Czechia,CZE,2006,47.930000
5587,Samoa,WSM,1995,0.000000
6290,Sweden,SWE,2005,84.830000
2788,Honduras,HND,2002,2.597403
6589,Turkey,TUR,1999,2.292118
4519,Mozambique,MOZ,2001,0.160032
4541,Myanmar,MMR,1995,0.000000

In [9]:
geojson.keys()

dict_keys(['type', 'features'])

we Rename the column form Individuals using the Internet (% of population) to Internet_usage

In [10]:
ds.rename(columns={'Individuals using the Internet (% of population)':"Internat_usage"} ,inplace=True)

we need to make sure that all countries have the same Name in the geodata as will in the dataset, otherwise we will get a mismatch between the geodata and the dataset. We can do this by renaming

In [11]:
country_code_name={}
for i in range(len(geojson["features"])):
  # if geojson["features"][i]["properties"]["ISO_A3"] not in df3['Code'].values:
  country_code_name[geojson["features"][i]["properties"]['ISO_A3']]=geojson["features"][i]["properties"]['ADMIN'] 
      
# len(country)   
country_code_name

{'ABW': 'Aruba',
 'AFG': 'Afghanistan',
 'AGO': 'Angola',
 'AIA': 'Anguilla',
 'ALB': 'Albania',
 'ALA': 'Aland',
 'AND': 'Andorra',
 'ARE': 'United Arab Emirates',
 'ARG': 'Argentina',
 'ARM': 'Armenia',
 'ASM': 'American Samoa',
 'ATA': 'Antarctica',
 '-99': 'Akrotiri Sovereign Base Area',
 'ATF': 'French Southern and Antarctic Lands',
 'ATG': 'Antigua and Barbuda',
 'AUS': 'Australia',
 'AUT': 'Austria',
 'AZE': 'Azerbaijan',
 'BDI': 'Burundi',
 'BEL': 'Belgium',
 'BEN': 'Benin',
 'BFA': 'Burkina Faso',
 'BGD': 'Bangladesh',
 'BGR': 'Bulgaria',
 'BHR': 'Bahrain',
 'BHS': 'The Bahamas',
 'BIH': 'Bosnia and Herzegovina',
 'BLM': 'Saint Barthelemy',
 'BLR': 'Belarus',
 'BLZ': 'Belize',
 'BMU': 'Bermuda',
 'BOL': 'Bolivia',
 'BRA': 'Brazil',
 'BRB': 'Barbados',
 'BRN': 'Brunei',
 'BTN': 'Bhutan',
 'BWA': 'Botswana',
 'CAF': 'Central African Republic',
 'CAN': 'Canada',
 'CHE': 'Switzerland',
 'CHL': 'Chile',
 'CHN': 'China',
 'CIV': 'Ivory Coast',
 'CMR': 'Cameroon',
 'COD': 'Democratic Republic of the Congo',
 'COG': 'Republic of Congo',
 'COK': 'Cook Islands',
 'COL': 'Colombia',
 'COM': 'Comoros',
 'CPV': 'Cape Verde',
 'CRI': 'Costa Rica',
 'CUB': 'Cuba',
 'CUW': 'Cura√ßao',
 'CYM': 'Cayman Islands',
 'CYP': 'Cyprus',
 'CZE': 'Czech Republic',
 'DEU': 'Germany',
 'DJI': 'Djibouti',
 'DMA': 'Dominica',
 'DNK': 'Denmark',
 'DOM': 'Dominican Republic',
 'DZA': 'Algeria',
 'ECU': 'Ecuador',
 'EGY': 'Egypt',
 'ERI': 'Eritrea',
 'ESP': 'Spain',
 'EST': 'Estonia',
 'ETH': 'Ethiopia',
 'FIN': 'Finland',
 'FJI': 'Fiji',
 'FLK': 'Falkland Islands',
 'FRA': 'France',
 'FRO': 'Faroe Islands',
 'FSM': 'Federated States of Micronesia',
 'GAB': 'Gabon',
 'GBR': 'United Kingdom',
 'GEO': 'Georgia',
 'GGY': 'Guernsey',
 'GHA': 'Ghana',
 'GIB': 'Gibraltar',
 'GIN': 'Guinea',
 'GMB': 'Gambia',
 'GNB': 'Guinea Bissau',
 'GNQ': 'Equatorial Guinea',
 'GRC': 'Greece',
 'GRD': 'Grenada',
 'GRL': 'Greenland',
 'GTM': 'Guatemala',
 'GUM': 'Guam',
 'GUY': 'Guyana',
 'HKG': 'Hong Kong S.A.R.',
 'HMD': 'Heard Island and McDonald Islands',
 'HND': 'Honduras',
 'HRV': 'Croatia',
 'HTI': 'Haiti',
 'HUN': 'Hungary',
 'IDN': 'Indonesia',
 'IMN': 'Isle of Man',
 'IND': 'India',
 'IOT': 'British Indian Ocean Territory',
 'IRL': 'Ireland',
 'IRN': 'Iran',
 'IRQ': 'Iraq',
 'ISL': 'Iceland',
 'ISR': 'Israel',
 'ITA': 'Italy',
 'JAM': 'Jamaica',
 'JEY': 'Jersey',
 'JOR': 'Jordan',
 'JPN': 'Japan',
 'KAZ': 'Kazakhstan',
 'KEN': 'Kenya',
 'KGZ': 'Kyrgyzstan',
 'KHM': 'Cambodia',
 'KIR': 'Kiribati',
 'KNA': 'Saint Kitts and Nevis',
 'KOR': 'South Korea',
 'KWT': 'Kuwait',
 'LAO': 'Laos',
 'LBN': 'Lebanon',
 'LBR': 'Liberia',
 'LBY': 'Libya',
 'LCA': 'Saint Lucia',
 'LIE': 'Liechtenstein',
 'LKA': 'Sri Lanka',
 'LSO': 'Lesotho',
 'LTU': 'Lithuania',
 'LUX': 'Luxembourg',
 'LVA': 'Latvia',
 'MAC': 'Macao S.A.R',
 'MAF': 'Saint Martin',
 'MAR': 'Morocco',
 'MCO': 'Monaco',
 'MDA': 'Moldova',
 'MDG': 'Madagascar',
 'MDV': 'Maldives',
 'MEX': 'Mexico',
 'MHL': 'Marshall Islands',
 'MKD': 'Macedonia',
 'MLI': 'Mali',
 'MLT': 'Malta',
 'MMR': 'Myanmar',
 'MNE': 'Montenegro',
 'MNG': 'Mongolia',
 'MNP': 'Northern Mariana Islands',
 'MOZ': 'Mozambique',
 'MRT': 'Mauritania',
 'MSR': 'Montserrat',
 'MUS': 'Mauritius',
 'MWI': 'Malawi',
 'MYS': 'Malaysia',
 'NAM': 'Namibia',
 'NCL': 'New Caledonia',
 'NER': 'Niger',
 'NFK': 'Norfolk Island',
 'NGA': 'Nigeria',
 'NIC': 'Nicaragua',
 'NIU': 'Niue',
 'NLD': 'Netherlands',
 'NOR': 'Norway',
 'NPL': 'Nepal',
 'NRU': 'Nauru',
 'NZL': 'New Zealand',
 'OMN': 'Oman',
 'PAK': 'Pakistan',
 'PAN': 'Panama',
 'PCN': 'Pitcairn Islands',
 'PER': 'Peru',
 'PHL': 'Philippines',
 'PLW': 'Palau',
 'PNG': 'Papua New Guinea',
 'POL': 'Poland',
 'PRI': 'Puerto Rico',
 'PRK': 'North Korea',
 'PRT': 'Portugal',
 'PRY': 'Paraguay',
 'PSE': 'Palestine',
 'PYF': 'French Polynesia',
 'QAT': 'Qatar',
 'ROU': 'Romania',
 'RUS': 'Russia',
 'RWA': 'Rwanda',
 'ESH': 'Western Sahara',
 'SAU': 'Saudi Arabia',
 'SDN': 'Sudan',
 'SSD': 'South Sudan',
 'SEN': 'Senegal',
 'SGP': 'Singapore',
 'SGS': 'South Georgia and South Sandwich Islands',
 'SHN': 'Saint Helena',
 'SLB': 'Solomon Islands',
 'SLE': 'Sierra Leone',
 'SLV': 'El Salvador',
 'SMR': 'San Marino',
 'SOM': 'Somalia',
 'SPM': 'Saint Pierre and Miquelon',
 'SRB': 'Republic of Serbia',
 'STP': 'Sao Tome and Principe',
 'SUR': 'Suriname',
 'SVK': 'Slovakia',
 'SVN': 'Slovenia',
 'SWE': 'Sweden',
 'SWZ': 'Swaziland',
 'SXM': 'Sint Maarten',
 'SYC': 'Seychelles',
 'SYR': 'Syria',
 'TCA': 'Turks and Caicos Islands',
 'TCD': 'Chad',
 'TGO': 'Togo',
 'THA': 'Thailand',
 'TJK': 'Tajikistan',
 'TKM': 'Turkmenistan',
 'TLS': 'East Timor',
 'TON': 'Tonga',
 'TTO': 'Trinidad and Tobago',
 'TUN': 'Tunisia',
 'TUR': 'Turkey',
 'TUV': 'Tuvalu',
 'TWN': 'Taiwan',
 'TZA': 'United Republic of Tanzania',
 'UGA': 'Uganda',
 'UKR': 'Ukraine',
 'UMI': 'United States Minor Outlying Islands',
 'URY': 'Uruguay',
 'USA': 'United States of America',
 'UZB': 'Uzbekistan',
 'VAT': 'Vatican',
 'VCT': 'Saint Vincent and the Grenadines',
 'VEN': 'Venezuela',
 'VGB': 'British Virgin Islands',
 'VIR': 'United States Virgin Islands',
 'VNM': 'Vietnam',
 'VUT': 'Vanuatu',
 'WLF': 'Wallis and Futuna',
 'WSM': 'Samoa',
 'YEM': 'Yemen',
 'ZAF': 'South Africa',
 'ZMB': 'Zambia',
 'ZWE': 'Zimbabwe'}

I will make a cope of the data before I apply the rename function. This will allow me to keep the original data intact and make sure that I can revert back

In [12]:
ds_copy=ds
ds_copy["Country"]=ds_copy['Code'].map(country_code_name)
ds_copy.sample(3)

       Entity Code  Year  Internat_usage  Country
6519    Tonga  TON  2015       38.651272    Tonga
5452   Russia  RUS  2000        1.977230   Russia
568   Belgium  BEL  2000       29.431692  Belgium

Now I need to campier the country the are in the dataset und the counties in the geodata

In [20]:
not_matsh={}
for index, row in ds_copy.iterrows(): # Use iterrows() correctly
    if row['Code'] not in country_code_name.keys():
        not_matsh[row['Code']] = row['Entity']
not_matsh

{nan: 'Upper middle income', 'OWID_KOS': 'Kosovo', 'OWID_WRL': 'World'}

In [22]:
not_matsh2={}
for index, value in enumerate(country_code_name): # Use iterrows() correctly
    if row['Code'] not in ds_copy["Code"].unique():
        not_matsh2[index] = value
not_matsh2

{}

the updated Country in the dataset to identify the countries

In [25]:
country_set = set(ds_copy['Country'].unique())
entity_set = set(ds_copy['Entity'].unique())

# Find elements in 'Country' but not in 'Entity'
difference = entity_set - country_set

# Print or further process the difference
difference

{'Africa Eastern and Southern',
 'Africa Western and Central',
 'Arab World',
 'Bahamas',
 'Caribbean Small States',
 'Central Europe and the Baltics',
 'Congo',
 "Cote d'Ivoire",
 'Curacao',
 'Czechia',
 'Democratic Republic of Congo',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD)',
 'East Asia & Pacific (excluding high income)',
 'Eswatini',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Faeroe Islands',
 'Fragile and conflict affected situations',
 'Guinea-Bissau',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'Hong Kong',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Kosovo',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (IDA & IBRD)',
 'Latin America & Caribbean (excluding high income)',
 'Least developed countries: UN classification',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Macao',
 'Micronesia (country)',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD)',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'North America',
 'North Macedonia',
 'OECD members',
 'Other small states',
 'Pacific island small states',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Serbia',
 'Small states',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD)',
 'Sub-Saharan Africa (excluding high income)',
 'Tanzania',
 'Timor',
 'United States',
 'Upper middle income',
 'World'}

In [26]:
len(difference)

66

here are the country the are in geodata but there are't in the dataset

In [27]:
country_set = set(ds_copy['Country'].unique())
entity_set = set(country_code_name.values())

# Find elements in 'Country' but not in 'Entity'
difference = entity_set - country_set

# Print or further process the difference
difference

{'Akrotiri Sovereign Base Area',
 'Aland',
 'Anguilla',
 'Antarctica',
 'British Indian Ocean Territory',
 'Cook Islands',
 'Falkland Islands',
 'French Southern and Antarctic Lands',
 'Guernsey',
 'Heard Island and McDonald Islands',
 'Isle of Man',
 'Jersey',
 'Montserrat',
 'Niue',
 'Norfolk Island',
 'Pitcairn Islands',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Martin',
 'Saint Pierre and Miquelon',
 'Sint Maarten',
 'South Georgia and South Sandwich Islands',
 'Taiwan',
 'United States Minor Outlying Islands',
 'Vatican',
 'Wallis and Futuna',
 'Western Sahara'}

In [ ]:
ds_copy[ds_copy['Country']==]

Empty DataFrame
Columns: [Entity, Code, Year, Internat_usage, Country]
Index: []

In [49]:
ds_copy['Country'].value_counts().sort_values(ascending=True)

KeyError: 'Country'

In [39]:
ds_copy[ds_copy['Country']==" "]

Empty DataFrame
Columns: [Entity, Code, Year, Internat_usage, Country]
Index: []

In [47]:
# ds_copy.drop(columns=['Entity'],inplace=True).rename({'Country':"Entity"})
ds_copy.rename(columns={'Internat_usage':"Internet_usage","Country":"Entity"},inplace=True)

In [48]:
ds_copy.head()

  Code  Year  Internet_usage       Entity
0  AFG  1990             0.0  Afghanistan
1  AFG  1991             0.0  Afghanistan
2  AFG  1992             0.0  Afghanistan
3  AFG  1993             0.0  Afghanistan
4  AFG  1994             0.0  Afghanistan

I need to reorganized  the datafram structure

In [50]:
ds_copy=ds_copy[["Entity","Code","Year","Internet_usage"]]

In [51]:
ds_copy.head()

        Entity Code  Year  Internet_usage
0  Afghanistan  AFG  1990             0.0
1  Afghanistan  AFG  1991             0.0
2  Afghanistan  AFG  1992             0.0
3  Afghanistan  AFG  1993             0.0
4  Afghanistan  AFG  1994             0.0

In [52]:
!pip install pycountry
!pip install pycountry_convert
import pycountry
import pycountry_convert as pc

# Create a function to get the continent from a country code
def get_continent(country_code):
    try:
        country_alpha2 = pycountry.countries.get(alpha_3=country_code).alpha_2
        # Get the continent code using pycountry_convert
        continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        # Get the continent name from the continent code
        continent_name = pc.convert_continent_code_to_continent_name(continent_code)
        return continent_name
    except (KeyError, AttributeError):
        return 'Unknown'

get_continent("USA")

Requirement already satisfied: pycountry in c:\users\ammar\.conda\envs\viz\lib\site-packages (24.6.1)
Collecting pycountry_convert
  Downloading pycountry_convert-0.7.2-py3-none-any.whl.metadata (7.2 kB)
Collecting pprintpp>=0.3.0 (from pycountry_convert)
  Downloading pprintpp-0.4.0-py2.py3-none-any.whl.metadata (7.9 kB)
Requirement already satisfied: pycountry>=16.11.27.1 in c:\users\ammar\.conda\envs\viz\lib\site-packages (from pycountry_convert) (24.6.1)
Collecting pytest>=3.4.0 (from pycountry_convert)
  Downloading pytest-8.3.3-py3-none-any.whl.metadata (7.5 kB)
Collecting pytest-mock>=1.6.3 (from pycountry_convert)
  Downloading pytest_mock-3.14.0-py3-none-any.whl.metadata (3.8 kB)
Collecting pytest-cov>=2.5.1 (from pycountry_convert)
  Downloading pytest_cov-6.0.0-py3-none-any.whl.metadata (27 kB)
Collecting repoze.lru>=0.7 (from pycountry_convert)
  Downloading repoze.lru-0.7-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: wheel>=0.30.0 in c:\users\ammar\.conda\envs\viz\lib\site-packages (from pycountry_convert) (0.44.0)
Collecting iniconfig (from pytest>=3.4.0->pycountry_convert)
  Downloading iniconfig-2.0.0-py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: packaging in c:\users\ammar\.conda\envs\viz\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (24.1)
Collecting pluggy<2,>=1.5 (from pytest>=3.4.0->pycountry_convert)
  Downloading pluggy-1.5.0-py3-none-any.whl.metadata (4.8 kB)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in c:\users\ammar\.conda\envs\viz\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.2.0)
Requirement already satisfied: tomli>=1 in c:\users\ammar\.conda\envs\viz\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (2.0.1)
Requirement already satisfied: colorama in c:\users\ammar\.conda\envs\viz\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (0.4.6)
Collecting coverage>=7.5 (from coverage[toml]>=7.5->pytest-cov>=2.5.1->pycountry_convert)
  Downloading coverage-7.6.8-cp310-cp310-win_amd64.whl.metadata (8.4 kB)
Downloading pycountry_convert-0.7.2-py3-none-any.whl (13 kB)
Downloading pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Downloading pytest-8.3.3-py3-none-any.whl (342 kB)
Downloading pytest_cov-6.0.0-py3-none-any.whl (22 kB)
Downloading pytest_mock-3.14.0-py3-none-any.whl (9.9 kB)
Downloading repoze.lru-0.7-py3-none-any.whl (10 kB)
Downloading coverage-7.6.8-cp310-cp310-win_amd64.whl (210 kB)
Downloading pluggy-1.5.0-py3-none-any.whl (20 kB)
Downloading iniconfig-2.0.0-py3-none-any.whl (5.9 kB)
Installing collected packages: repoze.lru, pprintpp, pluggy, iniconfig, coverage, pytest, pytest-mock, pytest-cov, pycountry_convert
Successfully installed coverage-7.6.8 iniconfig-2.0.0 pluggy-1.5.0 pprintpp-0.4.0 pycountry_convert-0.7.2 pytest-8.3.3 pytest-cov-6.0.0 pytest-mock-3.14.0 repoze.lru-0.7

'North America'

In [55]:
ds_copy.head()

        Entity Code  Year  Internet_usage
0  Afghanistan  AFG  1990             0.0
1  Afghanistan  AFG  1991             0.0
2  Afghanistan  AFG  1992             0.0
3  Afghanistan  AFG  1993             0.0
4  Afghanistan  AFG  1994             0.0

In [58]:
def get_continent(country_code):
    try:
        country_alpha2 = pycountry.countries.get(alpha_3=country_code).alpha_2
        # Get the continent code using pycountry_convert
        continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        # Get the continent name from the continent code
        continent_name = pc.convert_continent_code_to_continent_name(continent_code)
        return continent_name
    except (KeyError, AttributeError):
        return 'Unknown'

get_continent("USA")

'North America'

In [ ]:
ds_copy['Continent'] = ds_copy['Code'].apply(get_continent)

In [60]:
df_int=pd.read_csv("../data/raw/internet_usages_continent.csv")
df_int.head()

        Entity Code  Year  Internet_usage continent
0  Afghanistan  AFG  1990             0.0      Asia
1  Afghanistan  AFG  1991             0.0      Asia
2  Afghanistan  AFG  1992             0.0      Asia
3  Afghanistan  AFG  1993             0.0      Asia
4  Afghanistan  AFG  1994             0.0      Asia